@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Basic:ital,wght@0,400;0,700;1,400;1,700&family=Grenze+Gotisch:wght@400;700&display=swap');

:root {
  --bg-color: #111115;
  --text-color: #ffe1ee;
}
html {
  font-size: 18px;
}
body {
  background: var(--bg-color);
  color: var(--text-color);
  padding: 50px;
  font: 1rem "Gentium Book Basic", Arial, sans-serif;
}
h1,h2,h3,h4 {
  font-family: "Grenze Gotisch", Arial, sans-serif;
}
h1 {
  font-size: 2.2rem;
}
h2 {
  font-size: 1.8rem;
}
a {
  color: #00B7FF;
}
.sidebar-nav {
  margin-top: 20px;
  padding: 0;
  list-style: none;
}