@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Basic:ital,wght@0,400;0,700;1,400;1,700&family=Grenze+Gotisch:wght@400;700&display=swap');

:root {
  --bg-color: #11111f;
  --text-color: #eeefff;
  --h1-color: #f46036;
  --h2-color: #36f460;
  --link-color: #20a4f3;
  --my-warning: #ffe066;
}
html {
  font-size: 18px;
}
body {
  background: var(--bg-color);
  color: var(--text-color);
  padding: 50px;
  font: 1rem "Gentium Book Basic", Arial, sans-serif;
}
h1,h2,h3,h4 {
  font-family: "Grenze Gotisch", Arial, sans-serif;
}
h1 {
  font-size: 2.2rem;
  color: var(--h1-color);
}
h2 {
  font-size: 1.8rem;
  color: var(--h2-color);
}
h3 {
  font-size: 1.6rem;
  color: var(--h2-color);
}
h4 {
  font-size: 1.4rem;
  color: var(--h1-color);
}
a {
  color: var(--link-color);
}
#genre-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  margin: 40px 0;
  grid-gap: 20px;
}
.genre-item {
  justify-self: center;
}
.my-warning {
  color: var(--my-warning);
}
.my-success {
  color: var(--h2-color);
}
.my-danger {
  color: var(--h1-color);
}
.sidebar-nav {
  margin-top: 20px;
  padding: 0;
  list-style: none;
}